<!-- settings.jinja2 -->
<form class="form-horizontal" role="form">
    <div class="control-group">
        <label class="control-label">IP Address:</label>
        <div class="controls">
            <input type="text" class="input-medium" data-bind="value: settings.plugins.dht22_nav_temp.ip_address">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Refresh Rate (seconds):</label>
        <div class="controls">
            <input type="number" class="input-medium" min="1" data-bind="value: settings.plugins.dht22_nav_temp.refresh_rate">
        </div>
    </div>
</form>
